services:
  sending-crm-onboarding:
    network_mode: "host"
    healthcheck:
      test: ["CMD-SHELL", "test $(curl -o /dev/null -w '%%{http_code}' -s http://localhost:3000) = 200 || exit 1"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
