<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sending.ac - Invite Email</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="responsive.css" type="text/css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>sending<span>.ac</span></h1>
    </header>

    <main>
        <div class="main-wrapper">

            <!-- Celebration Section -->
            <section id="celebrate">
                <figure>
                    <img src="Images/Sending.ac Logo.png" alt="Logo">
                </figure>
                <h2 class="Welcome-heading">Welcome {{first_name}}</h2>
                <p>You probably can ’t wait to use your mailboxes for <br>outreach. Here’s 3 steps to
                    get
                    there the fastest.</p>
            </section>

            <div class="steps-wrapper">

                <div class="steps">
                    <div class="step"><span class="number">1</span> Add domain</div>
                    <div class="step"><span class="number">2</span> Create mailboxes</div>
                    <div class="step"><span class="number">3</span>
                        <div class="thirdStep">Import to sequencer <br><span
                                class="step-text-span">(smartlead/instantly/etc)</span></div>
                    </div>
                </div>
                <div class="btnNotes">
                    <button class="cta-btn">Let’s do it.</button>
                    <p class="note">
                        NOTE: If you don’t create or use any mailboxes, we’ll cancel <br>your beta access and give your
                        spot to the next person in line.
                    </p>
                </div>
            </div>

            <section class="video-wrapper">
                <h3>We recommend watching the <br>walkthrough video to get started:</h3>
                <div class="video-thumbnail">
                    <img src="Images/video-img.png" alt="video-img">
                </div>
            </section>

        </div>
    </main>

    <footer>
        <div class="footer-wrapper">
            <p>If you did not apply for sending.ac, you can ignore this email, and the account will be deleted.</p>

            <p>&copy; 2025 Sending.ac. All rights reserved. You received this email because you applied for an app that
                helps you create unlimited mailboxes. To update your email subscription preferences,
                <a href="#">click here</a>.
            </p>
        </div>
    </footer>
</body>

</html>