<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sending.ac - Invite Email</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="responsive.css" type="text/css">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>sending<span>.ac</span></h1>
    </header>

    <main>
        <div class="main-wrapper">
            
            <!-- Celebration Section -->
            <section id="celebrate">
                <span>&#129309;</span>
                <h2 class="ChangedStyleName">{{name}}, we’ll approve you sooner because you want the {{300k}} plan!</h2>
            </section>

            <!-- Invitation Section -->
            <section id="createAccount">
                <h2 class="headingConfirmSection">
                    Please confirm your priority application<br>
                    <span>(if you don’t, you will be rejected automatically)</span>
                </h2>
                
                <div class="button-content">
                    <button>Confirm my application</button>
                    <p>
                        Once confirmed, we’ll process your application <br>
                        faster and send you an invite sooner.
                    </p>
                </div>
            </section>

            <!-- Highlight Section -->
            <div class="highlight confirmYourApplication">
                <div class="highlightQA">
                    <h2>How soon can I join?</h2>
                    <p>The higher the volume, the faster we can bring you in. But usually its a matter of days after you click the button above.</p>
                </div>    
                <div class="highlightQA">
                    <h2>When/where to pay?</h2>
                    <p>After you receive your invite you start with 7 days free, then it switches to monthly billing (currently 50% off for life)</p>
                </div> 
                <div class="highlightQA">
                    <h2>Other questions?</h2>
                    <p>Just reply to this email and ask!</p>
                </div>                
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-wrapper">
            <p>If you did not apply for sending.ac, you can ignore this email, and the account will be deleted.</p>

            <p>&copy; 2025 Sending.ac. All rights reserved. You received this email because you applied for an app that 
            helps you create unlimited mailboxes. To update your email subscription preferences, 
            <a href="#">click here</a>.</p>
        </div>
    </footer>
</body>

</html>