<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sending.ac - Invite Email</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="responsive.css" type="text/css">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>sending<span>.ac</span></h1>
    </header>

    <main>
        <div class="main-wrapper">
            
            <!-- Celebration Section -->
            <section id="celebrate">
                <span>&#129309;</span>
                <h2 class="ChangedStyleName">Okay {{name}}, we’ll bring you in sooner because you want the {{300k}} plan!</h2>
            </section>
        </div>
    </main>

    <footer>
        <div class="footer-wrapper">
            <p>If you did not apply for sending.ac, you can ignore this email, and the account will be deleted.</p>

            <p>&copy; 2025 Sending.ac. All rights reserved. You received this email because you applied for an app that 
            helps you create unlimited mailboxes. To update your email subscription preferences, 
            <a href="#">click here</a>.</p>
        </div>
    </footer>
</body>

</html>